.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.table-receipt {
  font-size: 12px;
}

.h6-receipt {
  font-size: 12px;
}

.h4-receipt {
  font-size: 14px;
}

.checkoutValue {
  margin-right: 20px;
}

.transaction-button {
  margin: 10px;
}

@media print {
  .printPageButton {
    display: none;
  }
}
