.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.toggle-button {
  margin: 15px;
}

.receipt {
  font-size: 15px;
}

.bi {
  font-size: 15px;
}

.line {
  position: relative;
}
.line:after {
  content: "";
  position: absolute;
  left: 40%;
  border-left: 1px solid LightGray;
  top: 4px;
  bottom: 10%;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.transaction-button {
  margin: 10px;
}

hr {
  width: 43%;
  text-align: right;
  margin-right: 0;
  border-color: LightGray;
}
